*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.idea/
.includes.mk
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
__pycache__
archive.json
draft-ietf-oauth-status-list.xml
examples/
package-lock.json
report.xml
!requirements.txt
